.userinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .user {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

        p {
            font-size: 16 px;
        }
    }

    .icons {
        display: flex;
        gap: 15px;

        img {
            width: 20px;
            height: 20px;
        }
    }
}